body{
	margin:-6px;
	overflow-x: hidden;
	margin: 0% 0% 0% 0%;
}
html{
	overflow-x: hidden;
	margin: 0% 0% 0% 0%;
}
.header{
    background-image:linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url("../images/pairing wine chicken.png");    height: 200px;
    width: auto;
	height: 110vh;
	background-position:center;
	background-size: cover;
	position: relative;
}

header{
	position: fixed;
	z-index:100000;
	width: 100%;
	transition: 0.6s;
}
header.sticky{
	width: 100%;
	transition: 0.6s;
}
header.sticky nav{
	background: ;
}

.banner{
	position:relative;
}
html{
	scroll-behavior: smooth;
}
#preloader{
	background:#fff url(/work/images/icons8-spinner.gif) no-repeat center center;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;

}

nav{
	display:flex;
	padding:3% 5%;
	justify-content:space-between;
	align-items:center;
	background-color:#fff;
	height:20px;
	width:100%;
	box-shadow: 0 3px 15px rgb(0, 0, 0,0.7);
}
nav img{
	width: 60px;
	height: 60px;
	align-items: center;
	align-content: center;
	margin-right: 10px;
	margin-bottom:0px;
	padding: 0px;
	left: 0px;
}
.gill-catering{
	padding-top:5px;
	font-size: 35px;
	font-weight:bold;
	font-family:helvetica;
	text-transform: uppercase;
	text-decoration: none;
	color:#F3525A;
	list-style: none;
	display: inline-block;

}

.dropdown_menu{
	position:absolute;
	top:50px;
	height:0;
	opacity: 0;
	display: none;
	object-fit: cover;
	width:100%;
	background:#115c9b;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.075,0.82,0.165,1) ;
}
.close-bn{
	background:#333;
	height: 20px;
	width: 20px;
	margin: 2%;
	color: whitesmoke;
	position: absolute;
	justify-content: center;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	float: left;
	display: none;
}

.dropdown_menu.open{
	height: 250px;
	opacity: 1;
}
.dropdown_menu li{
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	display: none;
}


#menu img{
	position:absolute;
	top: 16px;
	border-radius:40px;
	outline: 3px;
	background:transparent;
	padding: 5px 10px;
	cursor: pointer;
	padding: 0;
	display: none;
	
}
.nav-links{
	flex:6;
	text-align:right;
	margin-right:10%;

}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding-right:16px;
	position: relative;
}
.nav-links ul li a{
    color:#152440;
	text-decoration: none;
	font-size: 18px;
	font-family:helvetica;
	text-transform: uppercase;
	font-weight: normal;
	transition: 0.5s;
}

.nav-links ul li a:hover{
	color:#F3525A;

}
.course{
	text-align: center;
	margin: auto;
	width: auto;
	padding-top: 100px;
}



.text-box{
	width: 90%;
	color: whitesmoke;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 50px;
	font-family: helvetica;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 16px;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: whitesmoke;
	padding: 13px 30px;
	border-radius:30px;
	border: 1px solid #fff;
	font-size: 16px;
	font-family: helvetica;
	position: relative;
	background: transparent;
	cursor: pointer;
}
.hero-btn:hover{
	transition:1s;
	background:#F3525A;
}
.course h1{
	font-family: helvetica;
	font-size: 40px;
	font-weight: bold;
	color:#152440;
	text-align: center;
}
.Standards{
	margin: auto;
}
.Standards-col{
	top: 2%;
	display: flex;
	justify-content: space-between;

}
.row-a{
	padding: 45px;
	float: left;
	width:50%;
	margin-bottom:5%;
	box-sizing: border-box;
	background:whitesmoke;
	transition: 1s;
}

.target-g h1{
	padding: 20px;
	padding-left:40%;
	font-weight: bold;
	text-align:center;
	font-family: helvetica;
	color:#152440;


}

.target-g{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	width: 85%;
	border-radius: 10px;
	margin: 5% 5% 5% 6%;
	background: whitesmoke;
}
.target-g p{
	font-family: helvetica;
	color:#152440;
	text-align: left;
	padding-left:8%;
	padding-bottom: 5%;
}
.more-btn{
	margin-top: 10%;
	display: inline-block;
	text-decoration: none;
	color: whitesmoke;
	padding: 13px 20px;
	border-radius:30px;
	border: 1px solid #fff;
	font-size: 16px;
	font-family: helvetica;
	position: relative;
	background: transparent;
	cursor: pointer;
}
.more-btn:hover{
	transition:1s;
	background:whitesmoke;
	color:#F3525A;
}
.grill-btn{
	display: inline-block;
	text-decoration: none;
	color:whitesmoke;
	font-size: 30px;
	padding: 13px 30px;
	font-size: 16px;
	position: relative;
	background:#F3525A;
	cursor: pointer;
	font-family: helvetica;
	border-radius: 40px;
	float: left;
	transition: 1s;
}
.grill-btn:hover{
	color:#F3525A;
	background: transparent;
	border: 1px solid #F3525A;
}
.row-b{

	padding: 45px;
	float:right;
	width:50%;
	text-align: left;
	margin-bottom:5%;
	box-sizing: border-box;
	background:#F3525A;
	transition: 1s;
}
.row-b h1{
	font-family: helvetica;
	color:#152440;
	text-transform: uppercase;
	font-size: 40px;
	text-align: left;
}
.row-b h3{
		font-family: helvetica;
		color:whitesmoke;
		font-size: px;

}
.row-b span{
	text-align:right;
	color:#152440;
	font-size: 20px;
}
.row-b p{
	color: whitesmoke;
}
.row-a h3{
	padding-top:-16px;
	color:#152440;
	font-family:helvetica;
    text-align: left;
    font-size: 20px;
}
span{
	color:#152440;
	text-transform: uppercase;
}
.row-a h1{
	font-family:helvetica;
	padding-bottom:16px;
	font-weight:40px;
	font-size: 40px;
	margin: 5px;
	color:#F3525A;
	text-align: left;
	padding: 16px 0px 0px 16px;
}
.h4{
	font-family:initial;
	padding: 30px;
	font-weight: 50px;
	margin: 5px;
	color: #F3525A;
}

.p p{
	width:auto;
	padding: ;
	color:#152440;
	text-align: left;
}
.p{
	padding: 30px;
}
/* responsive */

.offer-p{
	color: #152440;
	font-family: helvetica;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	font-size:40px;
}
.service{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	padding: 30px 20px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin: 5%;
}
h1 .offer-p{
	text-align: center;
	display: flex;
	text-decoration-color:#152440;

}
.item{
	width:400px;
	background:whitesmoke;
    position: relative;
    overflow: hidden;
    height: 700px;
    display: flex;
    padding:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.title-p{
	font-family: helvetica;
	color:#152440;
	font-size: 25px;
	padding:20px;
	text-align: center;
}
.item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 0;
    background: var(--light);
    border-radius: 100% 100% 0 0;
    box-shadow: 0px -10px 10px #faebd7;
    transition: .5s;
}
.item:hover::after {
    bottom: -25px;
}
.item img{
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 70px;
}
.item p{
	text-align: left;
	color:#152440;
	display: flex;
}
.come-nt h1{
	color:crimson;
	font-size: 40px;
	font-family: helvetica;
	padding: 40px;
}
.item p {
    transition: .3s;
    padding: 0px 20px 20px 20px;
}

.item:hover p {
    margin-bottom: 30px !important;
}
@media screen and (max-width: 550px){
	.service{
		grid-template-columns:repeat(1, 1fr);
		padding: 30px 20px;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	}

}
p{
	font-family: helvetica;
}
.test-t{
	font-family: helvetica;
	font-weight: bold;
	font-size: 40px;
	color:#152440;
	padding: 16px;
}
.Skills h1{
	font-size: 13px;
	font-style: italic;
	color:black;
}
.comment{
	background:#f0ffff;
	display: flex;
	width: auto;
	height: auto;
	padding: 30px;
}
.comment img{
	float: right;
	width: 70%;
	height: 500px;
	padding: 0px;
}
.content{
	width: 50%;
	height: 450px;
	display: flex;
	justify-content: center;
	color: black;
}
.content form {

	justify-content: center;
	align-items: center;
	height: 100%;
}
.content H2{
	font-size: 20px;
	text-align: center;
	font-family: helvetica;
}
.input-box{
	width: 340px;
	height: 30px;
	border-bottom: 2px solid black;
	margin: 20px 0px;
	position: relative;

}
.input-box input{
	width:90%;
	height: 100%;
	background:transparent ;
	border: none;
	outline: none;
	left: 0%;
	color: whitesmoke;
}
.input-box label{
	position: absolute;
	top: 30%;
	left: 0;
	transition:.2s ease;
	font-family: helvetica;
}
.input-box input:focus~label,
.input-box input:valid~label{
	top: -5px;
}

.btn{
	width: 100%;
	height: 45px;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	color: black;
	font-weight: 500px;
	transition: 1s;
}
.btn:hover{
	background: orange;
	color: whitesmoke;
	transition: 2 ease;
}
textarea{
	width: 100%;
	height: 100px;
}
.testmonials{
	padding: 20px;
	text-align: center;
	width:auto;
	padding-top:0%;	
	margin: auto;
}
.testmonials h1{
	padding: 20px;
	font-weight: bold;
	font-size: 25px;
}
.testmonials-col{
	flex-basis: 0%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align:left;
	display: flex;
	padding: 5px;
	margin: 5%;
	cursor: pointer;
	background:whitesmoke;
}
.testmonials img{
	border-radius:70%;
	height:50px;
	margin-left: 5px;
	margin-right: 20px;
}
.testmonials p{
	padding: 0%;
	color:#152440;

}
.testmonials h3{
	margin-top: -15px;
	font-size:20px;
	font-family:helvetica;
	text-align:left;
	padding: 20px;
}
.cont-ct{
	text-align: center;
	padding: 40px;
	color: whitesmoke;
	font-family: helvetica;
	font-size: 20px;
}
.enroll{
	height:;
	width:;
	margin:;
	padding: ;
	text-align: center;
	background-position: center;
	background: cover;
	border-radius: 20px;
}
.cont-btn{
	display: inline-block;
	text-decoration: none;
	color:whitesmoke;
	padding: 13px 30px;
	border-radius: 30px;
	border: 1px solid #F3525A;
	font-size: 16px;
	font-family: helvetica;
	position: relative;
	background:#F3525A;
	cursor: pointer;
}
.cont-btn:hover{
	transition:1s;
	color:#F3525A;
	background:none;
}

footer{
	height:auto;
	margin: 0%;
	margin-bottom:-5%;
	width: 100%;
	background:#152440;
	font-size: 13px;
	color: whitesmoke;
	font-family: helvetica;
	flex-wrap: wrap;
	display: flex;

}
.row{
	width:80%;
	flex-wrap: wrap;
	margin:auto;
	display:flex;
	align-items: flex-start;
	justify-content: space-between;
}
.container{
	margin: 5%;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
	height: auto;
}
.card
{
	position: relative;
	margin-left:2%;
	width: 300px;
	height: 370px;
	transition: 0.3s ease-out;
	box-shadow: 0 3px 15px rgb(0, 0, 0,0.7);
}
.card .imgbox{
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.imgbox img{
	position: absolute;
	top: 0;
	left: 0;
	height: 80%;
	width: 100%;
	display:block;
	transition: 0.5s;
}
.content h2{
	font-size: 22px;
	color:whitesmoke;
	font-family: helvetica;

}
.content h3{
	color:whitesmoke;
	font-family: helvetica;
}

.card .content{
	position: absolute;
	left: 0;
	flex-wrap: wrap;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 80px;
	background:#F3525A;
	transition: all 0.5s cubic-bezier(.48, -0.28,0.41,1.4);
	box-sizing: border-box;
	overflow: hidden;
}
.card:hover .content{
	width: 100%;
	height: 40%;
	left: 0;
	text-align: center;
	bottom: 0;
}
.p-info{
	width:600px;
	margin: -2% 8% 2% 0%;
	color:#152440;
	font-family: helvetica;
}
.content h3{
	margin: 10px 0 0;
	padding: 1em 1em;
	transform: translateY(2em);
	text-align: justify;
	opacity: 0;
}
.card:hover .content h3{
	transform:translateY(0);
	opacity: 1;
}
.col{
	height:%;
	width:20%;
}
.footer-log img{
	width: 80%;
	padding: 10px;
	
}
.follow{
	width: 300px;
	display: block;
}
.col h3{
	margin-bottom:4%;
	width: fit-content;
	font-family: helvetica;
	font-size: 20px;
	font-weight: bold;
}
.email-id{
	width: fit-content;
	border-bottom:1px solid #fff;
	margin: 20px 0;
}
footer hr{
width:100%;
border:0;
border-bottom: 1px solid #fff;
}
li{
	list-style: none;
	margin-bottom: 2px;
}
.col li a{
	text-decoration: none;
	margin-bottom:4%;
	color: whitesmoke;
	font-family: helvetica;
	font-size: 14px;
	transition: 1s;
}
.email-id a{
	text-decoration: none;
	margin-bottom:4px;
	color: whitesmoke;
	font-family: helvetica;
	font-size: 14px;
	transition: 1s;
	color: whitesmoke;
}
.social-icons{

}
.social-icons i img{
	height: 40px;
	width: 40px;
}
.copyright{
	color: grey;
	width: 100%;
	text-align: center;
	background: ;
}
footer a:hover{
	color:#F3525A;
	padding-left:4px;

}