body{
 background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/home/daniel/Pictures/BACK GROUNDS/IMG-20210319-WA0050.jpg");
}
.par{
	color: whitesmoke;
	padding: 50px;
}
nav{
	display:flex;
	padding:2% 16%;
	justify-content:space-between;
	align-items:center;
	background-color:none;
	height:16px;

}
.gill-catering{
	padding-top: 20px;
	font-size: 24px;
	font-weight:bold;
	font-family: initial;
	text-decoration: none;
	color: whitesmoke;
	list-style: none;
	display: inline-block;

}
.menu img{
	position:absolute;
	top: 0px;
	left: 90%;
	border-radius:40px;
	outline: 3px;
	background:transparent;
	padding: 5px 10px;
	cursor: pointer;
	padding: 0;
	display: none;
	
}
.nav-links{
	flex:6;
	text-align:right;

}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
	font-family: italic;
	font-weight: bold;

}
.nav-links ul li::after{
	content:'' ;
	width: 0%;
	height: 2px;
	background:#ff8c00;
	margin: auto;
	display: block;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;

}